<!DOCTYPE html>     
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/images/css/style.css">
</head>
<style>
    .aa{
      padding-top: 0px 10px;
      margin-left: 75px;
    }
    a{
      color: cornsilk;
    }
    
    #icon{
    padding: 2px;
    position: relative;
    color: #56CC9D;
  }
  </style>

<div id ="sidebar">
    <ul class="navbar-nav">
        <li id="side"><a href="/doctor/viewpatients" class="nav-link"><i id="icon" class="fas fa-procedures"></i> View Patients</a></li>
        <li id="side"><a href="/doctor/makeappointments" class="nav-link"><i id="icon" class="fas fa-calendar-check"></i> Make Appointments</a></li>
        <li id="side"><a href="/chat" class="nav-link"> <i id="icon" class="fas fa-paper-plane"></i> Chat Online</a></li>
    </ul>
    <br>
    <a href="/patient/logout" class="aa btn btn-success">Logout</a>
</div>