<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico"  type = "image/x-icon">
    <title>E-Hospital</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css"> 
</head>
    <style>
        body{
          background-image: url('/public/images/e-hos1.jpg');
          background-size: cover;
        }
        .display{
          border: 3px solid grey;
          margin-top: 150px;
          opacity: 100%;
        }
       </style> 
  <body>
  <div class="row mt-5">
      <div class="col-md-3 m-auto">
        <div class="display card card-body">
          <h4 class="text-center mb-3"><i class="fas fa-hospital-symbol"></i> Select Account Type</h1>
          <a href="/patient/welcome" class="btn btn-success btn-block mb-2">Patient</a>
        <a href="/doctor/welcomedr" class="btn btn-success btn-block" >Doctor</a>
      </div>
    </div>
  </body>
  </html>div>
</body>