<style>
    body{
      background-image: url('/public/images/patient.jpg');
      background-size: cover;
    }
    .display{
      border: 3px solid grey;
      margin-top: 150px;
      opacity: 100%;
    }
   </style> 
<body>
<div class="row mt-5">
  <div class="col-md-3 m-auto">
    <div class="display card card-body">
      <h4 class="text-center mb-3"><i class="fas fa-hospital-symbol"></i> Create an account or login</h1>
      <a href="/patient/register" class="btn btn-success btn-block mb-2">Register</a>
    <a href="/patient/login" class="btn btn-success btn-block" >Login</a>
  </div>
</div>
</body>